.table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

  thead {
    background: #ECECF9;

    tr {
      height: 48px;
    }

    th {
      font-family: 'SF UI Display', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      color: #2D2E46;
      cursor: pointer;

      &:first-child {
        width: 30%;
        padding-left: 24px;
      }

      &:nth-child(2) {
        width: 30%;
      }

      &:nth-child(3) {
        width: 12%;
      }

      &:nth-child(4) {
        width: 13%;
      }

      &:last-child {
        width: 15%;
        padding-right: 24px;
      }

      span {
        margin-right: 5px;
      }
    }
  }

  tbody {
    tr {
      height: 48px;

      &:nth-child(2n + 1) {
        background: #fff;
      }

      &:nth-child(2n) {
        background: #F8F7FD;
      }
    }

    td {
      max-width: 200px;
      position: relative;
      font-family: 'SF UI Display', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #000000;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &:first-child {
        width: 30%;
        padding-left: 24px;
        padding-right: 10px;
      }

      &:nth-child(2) {
        padding-right: 10px;
        width: 30%;
      }

      &:nth-child(3) {
        width: 12%;
      }

      &:nth-child(4) {
        width: 13%;
      }

      &:last-child {
        width: 15%;
        padding-right: 24px;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
      width: 55px;
      padding: 6px 0;
      font-family: 'SF UI Display', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      color: #21268F;
      background: #D7D8EF;
      border-radius: 2px;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
      transition: 1s linear;

      &:active {
        transform: scale(0.5);
      }
    }

    .active {
      background: #F1453D;
      color: #FFFFFF;
    }
  }
}