@import './src/app/common/style/mixins.scss';

$colorBg: #ECECF9;
$colorWhite: #FFFFFF;
$colorGray: #F8F7FD;


.tablePacks {
	//border: 1px solid black;
	//overflow: scroll;

}

.table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	box-shadow: 0 4px 14px rgba(45, 46, 70, 0.15);

	& th {
		padding-right: 24px;
		padding-left: 24px;
	}


	&__head {
		height: 48px;
		background-color: $colorBg;
		@include FontSanFrancisco();
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 16px;
		color: #2D2E46;
	}

	&__body {
		@include FontSanFrancisco();
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
		color: #2D2E46;

		& tr {
			//background-color: $colorGray;
			height: 48px;

			&:nth-child(2n + 1) {
				background: $colorWhite;
			}

			&:nth-child(2n) {
				background: $colorGray;
			}
		}

	}

	&__wrapBtn {
		//background: red;
		text-align: right;

	}

	&__btn {
		text-align: center;
		border-radius: 2px;
		background-color: #D7D8EF;
		border: none;
		margin-left: 6px;
		height: 24px;
		width: 48px;
		cursor: pointer;

		@include FontSanFrancisco();
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 14px;
		color: #21268F;

		&_delete {
			background-color: red;
			color: white;
		}
	}

}