.wrapper {
  box-sizing: border-box;
  width: 395px;
  padding: 0 24px 24px;

  img {
    cursor: pointer;
  }

  .title {
    position: relative;
    padding: 0;
    margin: 0 0 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -24px;
      height: 1px;
      width: 395px;
      background: #EDF0F6;
    }

    h3 {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #2D2E46;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}