.wrapper {
  position: relative;
  height: 60px;
  /*padding-left: 136px;*/
  padding-left: 20px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EBE0E9;

  .logo {
    /*    position: absolute;
        top: -12px;
        left: 100px;*/
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #2D2E46;
  }

  .switch {
    width: 346px;
  }

  .profileIcon {
    size: auto;
    width: 35px;
    height: 35px;
    background-color: #2D2E4666;
    border-radius: 50%;
    margin-right: 8px;
  }

  .logOut {
    height: 60px;
    width: 173px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logOut:active {
    background: #DCCCDB;
    border-bottom: 2px solid #21268F;

    & span {
      color: #2D2E46FF;
    }
  }

  span {
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: rgba(45, 45, 70, 0.4);
  }
}