$colorBg: #ECECF9;
$colorWhite: #FFFFFF;


.tablePacks {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	//height: 700px;
	border: 1px solid black;
	//overflow: scroll;
}

.table {
	width: 100%;
	border: 1px solid red;

	&__wrap {
		align-items: end;
	}


	&__head {
		width: 100%;
		height: 48px;
		background-color: $colorBg;
		margin: 0;
		padding: 0;
	}

	&__body {


		& tr {
			background-color: $colorWhite;
		}
	}
}